<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h3>Test points</h3>
<%#= parsed_json %>
<p><%= @id %></p>
<p><%= @latest_date %></p>
<p><%= @gold_price %></p>

<h3>Full set</h3>
<%#= @data %>
