<div class="row">
	<div class="large-12 columns">
		<h1>Metal Tracker</h1>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<p><span class="label">Today's gold price</span> <%= number_to_currency(@gold_price) %> per oz.</p>
	</div>
	<div class="large-6 columns">
		<p><span class="label">Today's silver price</span> <%= number_to_currency(@silver_price) %> per oz.</p>
	</div>
</div>
